<!DOCTYPE html>
<html ng-app="AngularAuthApp">
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="../controllers/productsController.js"></script>
</head>
<body ng-controller="productsController as ctl">
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-8">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Produto ID</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Preço</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="produto in ctl.items">
                        <td>
                            {{ produto.ProdutoId }}
                        </td>
                        <td>
                            {{ produto.Nome }}
                        </td>
                        <td>
                            {{ produto.Descricao }}
                        </td>
                        <td>
                            {{ produto.Preco }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
</body>
</html>